$whithe-color: #ffff;
$shark-color: #2a2f33;
$shocking-color: #e280b1;
$fedora-color: #6b6a6b;
$blue-color: #427ed5;
$tuscany-color: #bd6e29;
$bright-turquoise-color: #29f1f3;
$regent-blue-color: #a2bfe3;
$tamarillo-color: #940e19;
$confetti-color: #e6ca5c;
$melanie-color: #e6c3d3;
$dark-shark-color: #2f3034;
$americano-color: #89746c;
$purple-color: #8778b6;
$cascade-color: #97acae;
$tan-color: #d0a890;
$edward-color: #a0a5a5;
$umber-color: #882236;
$nevada-color: #64686c;
$dark-shocking-color: #db80b3;


